/*
    font-family: "BebasNeueBold";
    font-family: 'Open Sans', sans-serif;
*/
.footer {
    color: #FFFFFF;
}

.footer-block {
    height: 100px;
    background: #171819;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-block:last-child {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer-body {
    background: #141A20;
    padding: 45px 10px;
}

.input-block {
    width: 685px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-block :nth-child(2) {
    display: flex;
}

.title-block {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    font-weight: 600;
}

.input {
    width: 236px;
    height: 38px;
    color: black;
    border: 1px solid #979797;
    background: #FFFFFF;
    padding-left: 16px;
    outline: none;
}
.footer-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 940px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-footer:first-child  h3:first-child {
    font-size: 11px;
    letter-spacing: 0.846154px;
    font-weight: 400;
}

.nav-footer:first-child  img {
    margin: 19px 0 15px 0;
}

.nav-footer:first-child h3:last-child {
    width: 250px;
    font-size: 11px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.85px;
}

.nav-footer:nth-child(2) {
    display: flex;
    width: 262px;
    align-items: center;
    justify-content: space-between;
}

.nav-footer:nth-child(2) .foter-info_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-footer:nth-child(2) .foter-info_block:first-child {
    height: 150px;
}

.nav-footer:nth-child(2) .foter-info_block:nth-child(2) {
    height: 75px;
}
.nav-footer:nth-child(2) .foter-info_block:last-child {
    height: 75px;
}

.footer__nav {
    font-size: 11px;
    letter-spacing: 0.846154px;
    font-weight: 600;
}
.foter-info_block:first-child .footer__nav:first-child {
    font-weight: 400;
}
.nav-footer:nth-child(3) {
    width: 141px;
    font-size: 11px;
    letter-spacing: 0.846154px;
}
.nav-footer:last-child {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.nav-footer__img {
    width: 12px;
    height: 12px;
    margin-top: 33px;
}