/*
    font-family: "BebasNeueBold";
    font-family: 'Open Sans', sans-serif;
*/
.container {
    max-width: 941px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.nav__ul {
    display: flex;
}

.nav__ul-li {
    margin: 0 43px 0 0;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    color: #48555B;
    transition: 0.3s;
}

.nav__ul-li:hover {
    color: #00A4E5;
}

.border-bottom {
    position: absolute;
    left: 0;
    background: #E6E6E6;
    height: 1px;
    width: 100%;
}


/* OUR STORY */

.container:nth-child(2) {
    padding: 58px 50px;
}

.container1__textCenter {
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 121px;
}

.h2 {
    margin: 0 0 11px 0;
    color: #48555B;
    font-weight: 700;
    font-size: 18px;
}

.border {
    width: 50px;
    height: 2px;
    background: #00A4E5;
    margin: 0 auto;
}

.container1__flex {
    display: flex;
    justify-content: space-between;
    margin: 42px 0 0 0;
}

.box1__p1-div {
    display: flex;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #48555B;
}

.color {
    color: #16ACE8;
    margin: 0 5px 0 5px;
}

.flex__box1-p2 {
    margin: 30px 0 0 0;
    color: #48555B;
}

.container1__flex-box2 {
    justify-content: space-between;
    display: flex;
    width: 459px;
}

.flex__box2-img {
    background: url(../img/Bitmap2.jpg) no-repeat center;
    width: 140px;
    height: 224px;
    padding: 15px 0 0 14px;

    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    font-weight: 800;
}

.flex__box2-img:first-child {
    background: url(../img/Bitmap.jpg) no-repeat center;
}

.flex__box2-img:nth-child(2) {
    background: url(../img/Bitmap1.jpg) no-repeat center;
}

.flex__box1-p2 {
    font-size: 13px;
    width: 405px;
}

/* OUR CAPABILITIES */

.container:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 118px 50px 115px;
}

.CAPABILITIES__top {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    letter-spacing: 2.30625px;
    color: #48555B;
    font-weight: 700;
}

.title div {
    width: 50px;
    height: 2px;
    margin-top: 11px;
    background: #00A4E5;
}

.botton__block {
    display: flex;
    justify-content: space-between;
    width: 587px;
}

.botton__block h4 {
    width: 414px;
    font-size: 11px;
    color: #48555B;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 19px;
}

.button {
    text-align: center;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: #FFFFFF;
}

.CAPABILITIES__bottom {
    margin: 78px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.info__block {
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
}

.info__img {
    margin: 38px 0 0 23px;
}

.info__block h3 {
    padding: 25px 0 13px 0;
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.426667px;
    color: #48555B;
    line-height: 25px;
}

.info__block h4 {
    width: 250px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 0.1875px;
    color: #48555B;
    line-height: 23px;
    font-weight: 600;
}

/* Want to build something amazing */

.background {
    background: url(../img/Town.png) no-repeat center;
    background-size: cover;
    height: 499px;
    margin-bottom: -5px;
}

.info-block h2 {
    margin: 0 auto;
    padding: 120px 0 35px 0;
    width: 350px;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15px;
    line-height: 36px;
    color: #48555B;
}

.button:last-child {
    margin: 0 auto;
}