/*
    font-family: "BebasNeueBold";
    font-family: 'Open Sans', sans-serif;
*/

@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/ofont.ru_Bebas\ Neue.ttf");
    src: url("../fonts/ofont.ru_Bebas\ Neue.ttf?#iefix") format("embedded-opentype"),
        url("../fonts/ofont.ru_Bebas\ Neue.ttf") format("woff"),
        url("../fonts/ofont.ru_Bebas\ Neue.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}

a {
    font-size: 11px;
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

li {
    display: block; 
}

.header {
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.header-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.headet__top {
    margin: 41px 0 317px 0;
}

.headet__body-h1 {
    font-family: "BebasNeueBold";
    font-size: 60px;
    letter-spacing: 5.70937px;
    width: 583px;
}

.headet__body-p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 1px 0 221px 0;
    text-align: center;
}

.header__botom-text {
    margin: 0 0 71px 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3.7px;
}